@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
html, body, #root { height: 100%; }
body {
  background: #000;
  color: #fff;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
